@use '../utils/colors' as c;

@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Smooch+Sans:wght@300&family=Space+Grotesk:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nova Square', sans-serif;
  background-color: c.$bg-color;
  color: c.$font-color-two;
}

a {
  text-decoration: none;
}

.container {
  margin-left: 2rem;
  margin-right: 2rem;
  max-width: 768px;
}
